/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{ vertical-align:baseline;}/* vertical align baseline */
.vertical-top{  vertical-align:top;}/* vertical align top */
.underline{ padding-bottom:5px; border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{ display:block;}/* vertical menu */
nav.horizontal ul li{   display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/

body{
    font-family: 'Helvetica Neue', 'Arial', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
    background:#fff;
    font-size: 14px;
}

.header {
    background-color: #ff5656;
    color: #fff;
}

.wrap {
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
}

.header .info {
    padding-top: 20px;
    width: 40%;
    float: left;
}

.header .img-banner {
    width: 60%;
    float: right;
}

.header .logo {
    width: 100px;
    margin: 30px 0;
}

.header h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1em;
}

.header h1 span {
    font-size: 24px;
    margin-left: 10px;
    color: #ffc321;
    font-weight: normal;
}

.header h2 {
    font-size: 24px;
}

.header h3 {
    font-size: 14px;
    line-height: 1.8em;
    margin: 30px 0;
}

.header .app-btn {
    padding: 6px;
    border: 2px solid #ffc321;
    width: 100px;
    text-align: center;
    border-radius: 4px;
    margin: 20px 0;
}

.header .app-btn a { color: #fff;}

.slogan {
    padding: 50px 0;
    color: #ff5656;
}

.slogan h2 {
    width: 80%;
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
}

.slogan p {
    font-size: 16px;
    line-height: 2em;
    text-align: center;
    margin: 16px auto 0 auto;
    color: #666;
}

.picwall img {
    display: block;
    float: left;
    width: 25%;
}

.feature {
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    color: #ff5656;
    margin-bottom: 0;
    padding-bottom: 0;
}

.feature li {
    font-size: 17px;
    margin: 8px 0;
}

.feature p {
    margin: 40px 0 10px 0;
    font-size: 24px;
}

#end {
    width: 80px;
    display: block;
    margin: 0 auto;
}

.bottom {
    padding: 30px;
    text-align: center;
    background-color: #3d3d3d;
    color: #999;
    border-bottom: 10px solid #ff5656;
    font-size: 13px;
}

.bottom a {
    color: #999;
}

.bottom span {
    margin: 4px 10px;
}

.rule {
    background-color: #f2f2f2;
}

.rule .container {
    background-color: #fff;
    max-width: 700px;
    width: 80%;
    padding: 40px;
    margin: 0 auto;
    color: #555;
    font-size: 14px;
    line-height: 1.8em;
}

.rule h1 {
    text-align: center;
    font-size: 24px;
    color: #000;
}

.rule h2 {
    font-size: 18px;
    color: #000;
    margin: 20px 0;
}

.rule p {
    margin: 14px 0;
}


@media (max-width: 960px) {
    .header .logo {
        width: 80px;
    }

    .header h1 {
        font-size: 36px;
    }

    .header h1 span {
        font-size: 20px;
        margin-left: 6px;
    }
    .header h2 {
        font-size: 20px;
    }

    .header h3 {
        font-size: 12px;
        line-height: 1.8em;
        margin: 20px 0;
    }

    .header .app-btn {
        padding: 4px;
        width: 80px;
        text-align: center;
        border-radius: 4px;
    }

    .slogan h2 {
        font-size: 20px;
    }

    .slogan p {
        font-size: 14px;
    }

    .feature li {
        font-size: 15px;
    }

    .feature p {
        font-size: 20px;
    }

}

@media (max-width: 600px) {
    .header .info {
        width: 100%;
        text-align: center;
    }

    .header .img-banner {
        width: 100%;
    }

    .header .app-btn {
        margin: 20px auto 0 auto;
    }


    .picwall img {
        display: block;
        float: left;
        width: 50%;
    }

    .bottom span {
        display: block;
    }
}